node_modules/
.pnpm-store/
.pnpm-debug.log
*.log

dist/
build/
out/
.next/
.cache/
coverage/
*.tsbuildinfo

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

.env
.env.local
.env.development
.env.production
.env.test

docker-compose.override.yml
*.pid
tmp/
db_data/
pgdata/

*.bak
*.tmp
apps/*/pnpm-lock.yaml # 任意
