.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 48px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.text {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
