.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.icon {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.1);
}
